.input-container{
    padding: 0;
    margin: 0;
}
.form-container{
    padding-top:2%;
    background-color: #449adb;
    align-items: center;
}
.input-form{
    text-align: center;
    margin: 0 auto; 
    width: 70%;
}
.full-width{
    width: 100%;
    background-color: #ebebeb;
    margin-bottom: 2%;
    padding: 1%;
    border-radius: 10px;
}

h2 { 
    color: white;
}

.mat-icon
{
    margin-left: 2%;
    font-size: 50px;
}

.greetings h2
{
    display: inline-block;
    font-size: 25px;
    margin-left: 2%;
}
.post-button{
    float: right;
}
.input-textarea{
    max-width: 100%;
}
