.message-container{
    width: 80%;
    padding-top: 20px;
    margin: auto;
    height: 50vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.message-container::-webkit-scrollbar {
    display: none;
}

button.mat-button {
    background-color: white !important;
    margin: auto;
    width: 100%;
}

button.mat-button:hover {
    background-color: black;
}