<div class="input-container">
    <header class="logo">
        <div class="greetings">
            <mat-icon class="arrow_left" (click)="goBack()">keyboard_arrow_left</mat-icon>
            <h2>Hi {{userName}}</h2>
        </div>
        
        <h1>MINItwit</h1>
    </header>

    <div class="form-container">
        <form class="input-form">
            <mat-form-field class="full-width">
                <textarea  matInput class="input-textarea" [formControl]="message" placeholder="What is in your head?"></textarea>
                <mat-error *ngIf="message.errors?.maxlength">
                    Message must be less than 300 characters.
                </mat-error>
                <button mat-raised-button (click)="onPost()" class="post-button">Post</button>
            </mat-form-field>
        </form>
    </div>
</div>