/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family:"Courier New"}
button{
    background-color: #449adb!important;
}

.logo h1{
    font-family: 'Courier New'!important;
    font-size: 90px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: auto;
    text-align: center;
}

.logo{
    background-color: #449adb;
    height: 218px;
    color: white;
}