<div class="main-container">
    <header class="logo">
        <h1>MINItwit</h1>
    </header>


    <form class="main-form-container">
        <mat-label class="mat-label">What is your name?</mat-label>
        <br>
        <mat-form-field class="full-width">
            <input  matInput class="matInput" [formControl]="userName"/>
            <mat-error *ngIf="userName.errors?.required">
                Please enter your name
            </mat-error>
        </mat-form-field>

        <br><br>
        <button mat-raised-button (click)="onEnter()">Enter</button>
    </form>
</div>
